absl-py==0.1.10
amqp==1.4.9
anyjson==0.3.3
audioread==2.1.5
beautifulsoup4==4.6.0
billiard==3.3.0.23
bleach==1.5.0
cachetools==2.0.1
celery==3.1.25
certifi==2017.11.5
chardet==3.0.4
clarifai==2.2.3
click==6.7
clinto==0.1.4
configparser==3.5.0
Cython==0.27.3
decorator==4.2.1
dill==0.2.7.1
Django==1.9.13
django-autoslug==1.9.3
django-celery==3.2.2
enum34==1.1.6
Flask==0.12.2
Flask-PyMongo==0.5.1
Flask-SQLAlchemy==2.3.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
gapic-google-cloud-datastore-v1==0.15.3
google-api-core==0.1.4
google-auth==1.4.1
google-cloud-core==0.28.1
google-cloud-datastore==1.4.0
google-gax==0.15.16
googleapis-common-protos==1.5.3
grpcio==1.10.0
gunicorn==19.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
jams==0.3.1
Jinja2==2.10
joblib==0.11
jsonschema==2.6.0
Keras==2.0.8
kombu==3.0.37
librosa==0.6.0
llvmlite==0.22.0
lxml==4.1.1
madmom==0.15.1
Markdown==2.6.11
MarkupSafe==1.0
MIDIUtil==1.2.1
mido==1.2.8
mir-eval==0.4
music21==4.1.0
numba==0.37.0
numpy==1.13.3
oauth2client==3.0.0
pandas==0.22.0
ply==3.8
preprocess==1.1.0
pretty-midi==0.2.8
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pymongo==3.6.0
PyMySQL==0.8.0
pyreadline==2.1
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
requests==2.18.4
resampy==0.2.0
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.0.0
selenium==3.9.0
singledispatch==3.4.0.3
six==1.11.0
sortedcontainers==1.5.9
spotipy==2.4.4
SQLAlchemy==1.2.6
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
textmagic==2.0.3
urllib3==1.22
vamp==1.1.0
virtualenv==15.2.0
Werkzeug==0.14.1
wooey==0.9.11
